{% load static %}
<!DOCTYPE html>
<html class="overflow-hidden" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="EasyView application interface">
    <meta name="author" content="Nikita Nikiforov">
    <link rel="icon" href="{% static 'icons/eye-fill.svg' %}" sizes="32x32" type="image/png">
    <link rel="icon" href="{% static 'icons/eye-fill.svg' %}" sizes="16x16" type="image/png">
    <link rel="mask-icon" href="{% static 'icons/eye-fill.svg' %}" color="#7952b3">
    <link rel="icon" href="{% static 'icons/eye-fill.svg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'EasyView/css/sidebar.css' %}">
    <!--Custom styles here-->
    {% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'EasyView/css/index.css' %}">
    {% endblock %}
    <script type="text/javascript" src="{% static 'jquery/jquery-3.6.js' %}"></script>
    <script src="{% static 'axios/axios.min.js' %}"></script>

    <!--Title block-->
    <title>{% block title %}EasyView{% endblock %}</title>
</head>

<body>
    {% include 'navbar.html' %}
    {% block main %}
    <!--Content under navbar goes here-->
    {% endblock %}

    <!--Custom scripts here-->
    {% block scripts %}
    <script type="module" src="{% static 'EasyView/js/IndexInterface.js' %}"></script>
    {% endblock %}

    <!--Modal to show "about" information-->
    <div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <img src="{% static 'icons/info-square-fill.svg' %}" class="rounded me-2" alt="InfoIcon">
            <h5 class="modal-title" id="aboutModalLabel">О приложении</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body">
            <p>Приложение EasyView было разработано по личной инициативе сотрудником Атомпроекта,
                которому очень надоело отсылать миллионы скриншотов, чтобы объяснить коллегам, что нужно поменять в
                модели.
                <br>
                <br>
                Веб-приложение разработано на основе компонентов с открытым исходным кодом и имеет открытый
                код, выложенный в <a href="https://github.com/technoborsch/AtomREST">репозитории</a> на гитхабе.
                <br>Любые пулл-реквесты приветствуются!
                <br>
                <br>Предложения по улучшению приложения очень ценятся мной и их можно присылать
                <a href="mailto:NSNikiforov@atomproekt.com?subject=Предложение по улучшению EasyView"> сюда</a>,
                <a href="https://t.me/niki4ov">сюда</a> и, может быть, даже
                <a href="https://www.instagram.com/niki4ov/">сюда</a>.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>