{% extends 'base_layout.html' %}
{% load static %}

{% block title %}{{ model.building.kks }}{% endblock %}

{% block content %}
    <div id="viewer_settings"
         model_pk="{{ model.pk }}"
         {% block viewpoint_data %}
         {% endblock %}
         api_url="{{ api_url }}">
    </div>

    <!--Sidebar with notes and remarks-->
    <aside id="viewpointsMenu" class="sidebar">
    <div class="list-group">
      <!--Expandable list of remark buttons-->
      <button type="button" class="list-group-item list-group-item-action" data-bs-toggle="collapse" data-bs-target="#remarkButtons-collapse">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right me-2" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path></svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16"><path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"></path><path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"></path></svg>
        <span class="ms-1">Замечания</span>
      </button>
      <div class="collapse" id="remarkButtons-collapse">
        <div id="remarkButtons" class="list-group">

            <!--Process speciality-->
            <button type="button" class="list-group-item list-group-item-action" data-bs-toggle="collapse" data-bs-target="#processRemarksList-collapse">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right ms-3" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path></svg>
                <span class="m-2 ms-4">Технология</span>
            </button>
            <div id="processRemarksList-collapse" class="collapse">
              <div id="processRemarksList" class="list-group">
              {% if Process_remarks %}
                {% for remark in Process_remarks %}
                  <a class="list-group-item list-group-item-action" key="{{ remark.view_point.pk }}">{{ remark.description }}</a>
                {% endfor %}
              {% else %}
                <div class="text-center p-2">
                  <p class="text-muted" data-bs-toggle="tooltip" title="{{ no_remarks_tips.0 }}">
                      По технологии замечаний нет
                  </p>
                </div>
              {% endif %}
              </div>
            </div>

            <!--Electrical speciality-->
            <button type="button" class="list-group-item list-group-item-action" data-bs-toggle="collapse" data-bs-target="#electricalRemarksList-collapse">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right ms-3" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path></svg>
                <span class="m-2 ms-4">Электрика</span>
            </button>
            <div id="electricalRemarksList-collapse" class="collapse">
              <div id="electricalRemarksList" class="list-group">
              {% if Electrical_remarks %}
                {% for remark in Electrical_remarks %}
                  <a class="list-group-item list-group-item-action" key="{{ remark.view_point.pk }}">{{ remark.description }}</a>
                {% endfor %}
              {% else %}
                <div class="text-center p-2">
                  <p class="text-muted" data-bs-toggle="tooltip" title="{{ no_remarks_tips.1 }}">
                      По электрике замечаний нет
                  </p>
                </div>
              {% endif %}
              </div>
            </div>

            <!--HVAC speciality-->
            <button type="button" class="list-group-item list-group-item-action" data-bs-toggle="collapse" data-bs-target="#HVACRemarksList-collapse">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right ms-3" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path></svg>
                <span class="m-2 ms-4">Вентиляция</span>
            </button>
            <div id="HVACRemarksList-collapse" class="collapse">
              <div id="HVACRemarksList" class="list-group">
              {% if HVAC_remarks %}
                {% for remark in HVAC_remarks %}
                  <a class="list-group-item list-group-item-action" key="{{ remark.view_point.pk }}">{{ remark.description }}</a>
                {% endfor %}
              {% else %}
                <div class="text-center p-2">
                  <p class="text-muted" data-bs-toggle="tooltip" title="{{ no_remarks_tips.2 }}">
                      По вентиляции замечаний нет
                  </p>
                </div>
              {% endif %}
              </div>
            </div>

        </div>
      </div>

      <!--Expandable list of view point buttons-->
      <button id="viewPointsCollapseButton" type="button" class="list-group-item list-group-item-action" data-bs-toggle="collapse" data-bs-target="#pointButtons-collapse">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right me-2" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path></svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera2" viewBox="0 0 16 16"><path d="M5 8c0-1.657 2.343-3 4-3V4a4 4 0 0 0-4 4z"></path><path d="M12.318 3h2.015C15.253 3 16 3.746 16 4.667v6.666c0 .92-.746 1.667-1.667 1.667h-2.015A5.97 5.97 0 0 1 9 14a5.972 5.972 0 0 1-3.318-1H1.667C.747 13 0 12.254 0 11.333V4.667C0 3.747.746 3 1.667 3H2a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1h.682A5.97 5.97 0 0 1 9 2c1.227 0 2.367.368 3.318 1zM2 4.5a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0zM14 8A5 5 0 1 0 4 8a5 5 0 0 0 10 0z"></path></svg>
        <span class="ms-1">Точки&nbsp;обзора</span>
      </button>
      <div class="collapse border-bottom" id="pointButtons-collapse">
        <div id="pointButtons" class="list-group">
        <!--Insertion point for viewpoint buttons-->
        </div>

        <div class="p-3">
          <a id="viewPointsExportButton" class="btn btn-outline-success w-100 mb-1 disabled">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-up d-inline-block me-2" viewBox="0 0 16 16"><path d="M8.5 11.5a.5.5 0 0 1-1 0V7.707L6.354 8.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 7.707V11.5z"></path><path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"></path></svg>
            Экспорт&nbsp;в&nbsp;NW
          </a>

          <a id="viewPointsImportButton" class="btn btn-outline-danger w-100">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down d-inline-block me-2" viewBox="0 0 16 16"><path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"></path><path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"></path></svg>
            Импорт&nbsp;из&nbsp;NW
          </a>

        </div>

      </div>
    </div>

    <div class="position-relative bottom-0 w-100 p-3">
      <a
            class="btn btn-outline-primary w-100{% if not model.nwd %} disabled{% endif %}"
            href="{% if model.nwd %}{{ model.nwd.url }}{% endif %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download d-inline-block me-2" viewBox="0 0 16 16"><path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"></path><path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"></path></svg>
        Скачать&nbsp;модель&nbsp;.nwd
      </a>
    </div>

    </aside>

    <!--Button to toggle sidebar with notes, view points, remarks and so on-->
    <div id="btnPlacer" class="button-placer">
    <button id="viewpointsMenuToggleButton">
      <span class="text-rotated">Меню</span>
    </button>
    </div>

    <!--Camera button-->
    <button id="camera" class="float-action-button bg-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera" viewBox="0 0 16 16"><path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z"></path><path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"></path></svg>
    </button>

    <!--Toasts wrapper-->
    <div class="toast-placer toast-container position-absolute w-100 p-3 d-flex flex-column align-items-center bottom-0">

    <!--Toast to show viewpoint deletion notification-->
    <div id="viewPointDeletionToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header bg-danger">
        <img src="{% static 'icons/trash.svg' %}" class="rounded me-2" alt="NoteIcon">
        <strong class="me-auto text-white">Удалено</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <p>Точка обзора была успешно удалена</p>
      </div>
    </div>

    <!--Toast to show notifications-->
    <div id="viewPointToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header bg-success">
        <img src="{% static 'icons/camera.svg' %}" class="rounded me-2" alt="CameraImage">
        <strong class="me-auto text-white">Точка обзора сохранена</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Ссылка на точку обзора скопирована в буфер обмена
      </div>
    </div>

    <!--Toast to show description of a viewpoint-->
    <div id="viewPointDescriptionToast"
         class="toast hide"
         data-bs-delay="30000"
         role="alert"
         aria-live="assertive"
         aria-atomic="true">
      <div class="toast-header bg-info">
        <img src="{% static 'icons/card-text.svg' %}" class="rounded me-2" alt="NoteIcon">
        <strong class="me-auto text-white">Описание</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <p id="descriptionText"></p>
      </div>
    </div>

    </div>

    <!--Modal to provide interface to viewpoint saving-->
    <div class="modal fade"
         id="viewPointModal"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         tabindex="-1"
         aria-labelledby="viewPointModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="viewPointModalLabel">Новая точка обзора</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body">

            <div id="notesInsideModal">
              <button id="note" class="btn btn-primary m-1">Добавить заметку</button>
            </div>

            <div class="form-floating mb-3 mt-3">
              <input type="text"
                     class="form-control"
                     id="descriptionInput"
                     placeholder="Ваша вентиляционная труба проходит через реактор">
              <label for="descriptionInput">Описание точки</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="cancelViewPoint" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            <button type="button" id="saveViewPoint" class="btn btn-primary" data-bs-dismiss="modal">Сохранить</button>
          </div>
        </div>
      </div>
    </div>

    <!--Modal to provide interface of notes saving-->
    <div class="modal fade"
         id="noteModal"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         tabindex="-1"
         aria-labelledby="noteModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="noteModalLabel">Новая заметка</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body">
            <div class="form-floating mb-3">
              <input type="text"
                     class="form-control"
                     id="noteTextInput"
                     placeholder="Текст">
              <label for="noteTextInput">Текст заметки</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="cancelNoteButton" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            <button type="button" id="saveNote" class="btn btn-primary disabled" data-bs-dismiss="modal">Указать точку</button>
          </div>
        </div>
      </div>
    </div>

    <!--Loading screen that disappears after model loading-->
    <section id="loading-screen">
	<div id="loader"></div>
    </section>

    <link rel="stylesheet" type="text/css" href="{% static 'EasyView/css/dat.gui.css' %}">

{% endblock %}

{% block scripts %}
<script type="module" src="{% static 'EasyView/js/main.js' %}"></script>
{% endblock %}