{% extends 'base_layout.html' %}
{% load static %}
{% block title %}{{ building.kks }}{% endblock %}
{% block content %}
        <script type="module">

            import * as THREE from '{% static 'threejs/build/three.module.js' %}';

            import { GUI } from '{% static 'threejs/examples/jsm/libs/dat.gui.module.js' %}';

            import { GLTFLoader } from  '{% static 'threejs/examples/jsm/loaders/GLTFLoader.js' %}';
            import { KTX2Loader } from '{% static 'threejs/examples/jsm/loaders/KTX2Loader.js' %}';
			import { MeshoptDecoder } from '{% static 'threejs/examples/jsm/libs/meshopt_decoder.module.js' %}';

            import { OrbitControls } from '{% static 'threejs/examples/jsm/controls/OrbitControls.js' %}';
			import { RoomEnvironment } from '{% static 'threejs/examples/jsm/environments/RoomEnvironment.js' %}';

            let camera, scene, renderer;

            const params = {
                            clipIntersection: true,
                            planeConstant: 0,
                            showHelpers: false
                        };

            const clipPlanes = [
                            new THREE.Plane( new THREE.Vector3( 0, -1, 0 ), 0 ),
                        ];

            const xSpeed = 1000; // those two speeds can be removed then
            const ySpeed = 1000; //
            const zSpeed = 1000;
            const speed = 1000;

            const view_direction = new THREE.Vector3();
            const position = new THREE.Vector3();
            const building = '{{ building.slug }}';

            init();
            render();

function init() {
				renderer = new THREE.WebGLRenderer( { antialias: true } );
				renderer.setPixelRatio( window.devicePixelRatio );
				renderer.setSize( window.innerWidth/1.25, window.innerHeight/1.25, false );
				renderer.outputEncoding = THREE.sRGBEncoding;
				renderer.localClippingEnabled = true;
				document.body.appendChild( renderer.domElement );

				scene = new THREE.Scene();

				const environment = new RoomEnvironment();
				const pmremGenerator = new THREE.PMREMGenerator( renderer );

				scene.background = new THREE.Color( 0xbbbbbb );
				scene.environment = pmremGenerator.fromScene( environment ).texture;

				camera = new THREE.PerspectiveCamera( 40, window.innerWidth / window.innerHeight, 1, 200000 );
				camera.position.set( 0, 0, 0 );

				const controls = new OrbitControls( camera, renderer.domElement );
				controls.addEventListener( 'change', render ); // use only if there is no animation loop
                controls.zoomSpeed = 3;
				controls.minDistance = 1;
				controls.maxDistance = 1000000;
				controls.enablePan = false;

                const group = new THREE.Group();
                const bound_box = new THREE.Box3();

                const ktx2Loader = new KTX2Loader()
					.setTranscoderPath( '{% static 'threejs/examples/js/libs/basis' %}' )
					.detectSupport( renderer );

                const loader = new GLTFLoader();
				loader.setKTX2Loader( ktx2Loader );
				loader.setMeshoptDecoder( MeshoptDecoder );
                loader.load( '{{ model.gltf.url }}', function ( gltf ) {

                    gltf.scene.traverse((o) => {
                        if (o.isMesh) {
                            o.material.side = THREE.DoubleSide;
                            o.material.clippingPlanes = clipPlanes;
                        }
                    });

                    const box = new THREE.Box3().setFromObject( gltf.scene );
                    const center = box.getCenter( new THREE.Vector3() );

                    gltf.scene.position.x += ( gltf.scene.position.x - 2 * center.x );
                    gltf.scene.position.y += ( gltf.scene.position.y - 2 * center.y );
                    gltf.scene.position.z += ( gltf.scene.position.z + center.z );

                    bound_box.setFromObject(gltf.scene);
                    group.add( gltf.scene );

                    gui.add( params, 'planeConstant', bound_box.min.y, bound_box.max.y ).step( 10 ).name( 'plane constant' ).onChange( function ( value ) {

					for ( let j = 0; j < clipPlanes.length; j ++ ) {

						clipPlanes[ j ].constant = value;

					}

					render();

				} );

                    render();

                    },

                    function ( xhr ) {

                    console.log( ( xhr.loaded / xhr.total * 100 ) + '% loaded' );

                    },
                        // called when loading has errors
                    function ( error ) {

                    console.log('An error happened' + error);

                    });

				scene.add( group );

				const helpers = new THREE.Group();
				helpers.add( new THREE.PlaneHelper( clipPlanes[ 0 ], 20000, 0xff0000 ) );
				helpers.visible = false;
				scene.add( helpers );

				const gui = new GUI();

				gui.add( params, 'showHelpers' ).name( 'show helpers' ).onChange( function ( value ) {

					helpers.visible = value;

					render();

				} );

				gui.close();

				console.log(bound_box.min)

				window.addEventListener( 'resize', onWindowResize );

                window.addEventListener( 'keydown', onDocumentKeyDown, false);

                function onDocumentKeyDown(event) {
                    camera.getWorldDirection( view_direction );
                    const xChange = view_direction.x * speed;
                    const yChange = view_direction.y * speed;
                    const zChange = view_direction.z * speed;

                    const keyCode = event.which;
                        if (keyCode === 87) {

                            group.position.x -= xChange;
                            group.position.y -= yChange;
                            group.position.z -= zChange;
                            clipPlanes[0].constant -= yChange;

                        } else if (keyCode === 83) {

                            group.position.x += xChange;
                            group.position.y += yChange;
                            group.position.z += zChange;
                            clipPlanes[0].constant += yChange;

                        } else if (keyCode === 65) {
                            group.position.x -= xSpeed;
                        } else if (keyCode === 68) {
                            group.position.x += xSpeed;
                        } else if (keyCode === 32) {
                            saveViewPoint( building, group.position, view_direction );
                            console.log(view_direction);
                            console.log(group.position);
                        } else if (keyCode === 16) {
                            group.position.y -= zSpeed;
                            clipPlanes[0].constant -= zSpeed;
                        } else if (keyCode === 17) {
                            group.position.y += zSpeed;
                            clipPlanes[0].constant += zSpeed;
                        }
                    render();
                }
			}

			function onWindowResize() {

				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();

				renderer.setSize( window.innerWidth, window.innerHeight );

				render();

			}

			function render() {

                renderer.render(scene, camera);

            }

            function saveViewPoint(building, position, direction) {
                position = {
                            x: position.x,
                            y: position.y,
                            z: position.z,
                        }
                direction = {
                            x: direction.x,
                            y: direction.y,
                            z: direction.z,
                        }

                console.log("saving: " + building + ", " + position + ", " + direction)
                $.get(
                    '{% url 'create_view_point' %}',
                    {
                        building: building,
                        position: position,
                        direction: direction,
                    },
                    function (response) {
                        console.log(response)
                    }
                );
            }
        </script>
{% endblock %}