{% load static %}
{% load custom_tags %}
<link type="text/css" rel="stylesheet" href="{% static 'NavisWEB/css/sidebar.css' %}">
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light overflow-auto sidebar">
  <ul class="list-unstyled ps-0 mt-4">
    {% for project in projects %}
    <li class="mb-0">
    <div class="btn-group">
        <button class="btn btn-toggle{% show_insert "d" project.slug "collapse" %} align-items-center rounded {% show_insert "collapsed" project.slug "collapse" reverse=True %} {% if not project.buildings.all %}disabled{% endif %}" data-bs-toggle="collapse" data-bs-target="#{{ project.slug }}-collapse">
        </button>
        <a class="link" href="#"><button class="btn btn-next-toggle align-items-center rounded">{{ project.name }}</button></a>
    </div>
      <div class="collapse {% show_insert "show" project.slug "collapse" %}" id="{{ project.slug }}-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal ms-4 small">
              {% for building in project.buildings.all %}
                  <li><a href="{% url 'building_model' building.project.slug building.slug %}" class="link-dark rounded mx-4">{{ building.kks }}</a></li>
              {% endfor %}
        </ul>
      </div>
    </li>
        {% endfor %}
  </ul>
</nav>