{% extends 'building_model.html' %}

{% block viewpoint_data %}
    model_url="{{ view_point.model.gltf.url }}"
    project_slug="{{ view_point.model.building.project.slug }}"
    building_slug="{{ view_point.model.building.slug }}"
    viewpoint_url="{% url 'create_view_point' %}"
    position_x="{{ view_point.position_x }}"
    position_y="{{ view_point.position_y }}"
    position_z="{{ view_point.position_z }}"
    target_x="{{ view_point.target_x }}"
    target_y="{{ view_point.target_y }}"
    target_z="{{ view_point.target_z }}"
    plane_constant="{{ view_point.clip_constant }}"
{% endblock %}