body div.dg.ac {
    position: absolute;
    top: 72px;
    right: -10px;
}

.dg.main.taller-than-window .close-button {
    border-top: 1px solid #ddd;
}

.dg.main .close-button {
    background-color: #ccc;
}

.dg.main .close-button:hover {
    background-color: #ddd;
}

.dg {
    color: #555;
    text-shadow: none !important;
}

.dg.main::-webkit-scrollbar {
    background: #fafafa;
}

.dg.main::-webkit-scrollbar-thumb {
    background: #bbb;
}

.dg li:not(.folder) {
    background: #fafafa;
    border-bottom: 1px solid #ddd;
}

.dg li.title {
    background: #e8e8e8 url(data:image/gif;base64,R01GOD1hBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAII1I+hKgFxoCgAOw==) 6px 10px no-repeat;
    border-left: 1px solid #0d6efd;
}

.dg .cr.function:hover,.dg .cr.boolean:hover {
    background: #fff;
}

.dg .c input[type=text] {
    background: #e9e9e9;
    height: 19px;
}

.dg .c input[type=text]:hover {
    background: #eee;
}

.dg .c input[type=text]:focus {
    background: #eee;
    color: #555;
}

.dg .c .slider {
    background: #e9e9e9;
}

.dg .c .slider:hover {
    background: #eee;
}

.dg .main .close-button.close-bottom {
    background: white;
    color: #0d6efd;
    border: 1px solid #0d6efd;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.dg .main .close-button.close-bottom:hover {
    background: #0d6efd;
    color: white;
}

.dg.main.a > ul {
    border-right: 1px solid #0d6efd;
}